<div id="main_content_single_house">
    <div ng-if="house == null">
        <h1>Datan du sökte finns ej!</h1>
    </div>
    <ul id="list_single_house">
        <li>
            <h1>{{ house.id }}</h1>
            <ul ng-repeat="room in house.rooms">
                <li>
                    <h3 class="room_name">{{ room.name }}</h3>
                    <ul>
                        <li>Temperatur: {{ room.temperature }}&#8451;</li>
                        <li>Luftfuktighet: {{ room.humidity }}&#37;</li>
                    </ul>
                    <hr>
                </li>
            </ul>
        </li>
        <a id="home_link" href="/">Hem</a>      
    </ul>
</div>